@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="d-flex flex-column justify-content-between">
        <article class="content px-2">
            @Body
        </article>
        <div class="d-flex flex-row justify-content-between border border-2">
            <div class="px-4">
                <div class="d-flex flex-column justify-content-between mb-2 mt-2">
                    <div>
                        Office of Financial Aid
                    </div>
                    <div>
                        Old Main 250
                    </div>
                    <div>
                        <a href="mailto:finaid@stmartin.edu ">finaid@stmartin.edu</a>
                    </div>
                    <div>
                        Call (360) 688-2150 | Text (360) 995-1008
                    </div>
                </div>
            </div>
            <div class="px-4 s-flex flex-column align-content-center">
                <img src="Saint-Martins-logo.svg" alt="Saint Martin's Logo" height="50"/>
            </div>
        </div>
    </main>
</div>