<div class="top-row navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <p class="navbar-brand">SAP Appeal Portal</p>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler d-none" />
        <nav class="navbar-nav d-flex flex-row">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/appeal" Match="NavLinkMatch.All">Appeal Form</NavLink>
            </div>
            <AuthorizeView Roles="Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">Admin Dashboard</NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Advisor">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/advisor" Match="NavLinkMatch.All">Advisor Dashboard</NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">Logout</NavLink>
                </div>
            </AuthorizeView>
        </nav>
    </div>
</div>