<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <p class="navbar-brand">SAP Appeal Portal</p>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Page1" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Page1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Page2" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Page2
            </NavLink>
        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Page3" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Page3
                    </NavLink>
                </div>
    </nav>
</div>

