<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <HeadOutlet />
</head>
<body>
<CascadingAuthenticationState>
    <Routes>
        <Route Path="*" Render="@RenderPage" />
    </Routes>
</CascadingAuthenticationState>
<script src="_framework/blazor.web.js"></script>
</body>
</html>

@code {
    private RenderFragment RenderPage => builder =>
    {
        builder.OpenComponent<Router>(0);
        builder.AddAttribute(1, "AppAssembly", typeof(App).Assembly);
        builder.AddAttribute(2, "RenderMode", new InteractiveServerRenderMode());
        builder.CloseComponent();
    };
}