@page "/AccountCreation"
@inject CosmosContext DbContext

<PageTitle>Create your Account</PageTitle>

<h3>Add a New Person</h3>

<EditForm Model="_user" OnValidSubmit="HandleSubmit" FormName="AddUserForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="username">Username:</label>
        <input id="username" @bind="_user.Username" />
    </div>
    
    <div>
        <label for="password">Password:</label>
        <input id="password" @bind="_user.Password" />
    </div>
    
    <button type="submit">Submit</button>
</EditForm>

@code {
    private readonly User _user = new User();
    
    private async Task HandleSubmit()
    {
        _user.Id = Guid.NewGuid();
        
        DbContext.Users.Add(_user);
        await DbContext.SaveChangesAsync();
    }
}