@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin Dashboard</PageTitle>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <header>
        <div class="logosec">
            <div class="text">Admin Page</div>
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search">
        </div>
        <div class="message">
            <div class="circle"></div>
        </div>
    </header>
    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options"></div>
                <div class="nav-option option1">
                    <h3>Dashboard</h3>
                </div>
                <div class="nav-option option2">
                    <h3>Appeals</h3>
                </div>
                <div class="nav-option option3">
                    <h3>Status Update</h3>
                </div>
                <div class="nav-option option5">
                    <h3>Profile</h3>
                </div>
                <div class="nav-option logout">
                    <h3>Logout</h3>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="box-container">
                <div class="box box1">
                    <div class="text">
                        <h2 class="topic-heading">10</h2>
                        <h2 class="topic">Appeals Submitted</h2>
                    </div>
                </div>
                <div class="box box3">
                    <div class="text">
                        <h2 class="topic-heading">25</h2>
                        <h2 class="topic">Comments</h2>
                    </div>
                </div>
                <div class="box box4">
                    <div class="text">
                        <h2 class="topic-heading">10</h2>
                        <h2 class="topic">Pending</h2>
                    </div>
                </div>
            </div>
            <div class="report-container">
                <div class="report-header">
                    <h1 class="recent-submissions">Recent Submissions</h1>
                    <button class="view">View All</button>
                </div>
                <div class="report-body">
                    <div class="report-topic-heading">
                        <h3 class="t-op">Appeals</h3>
                        <h3 class="t-op">Comments</h3>
                        <h3 class="t-op">Status</h3>
                    </div>
                    <div class="items">
                        <div class="item1">
                            <h3 class="t-op-nextlvl">Appeal 1</h3>
                            <h3 class="t-op-nextlvl">0</h3>
                            <h3 class="t-op-nextlvl label-tag">Pending</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
