@page "/advisor"
@using Microsoft.AspNetCore.Authorization
<!--- "at"attribute [Authorize(Roles = "Advisor")] --->

<PageTitle>Advisor Dashboard</PageTitle>

<h3>Advisor Page</h3>

<p>Only users in the Advisor role can view this page.</p>

<p>As of 3/25/25, work on this page has not been done. The message above and this message are purely placeholders.</p> 