@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<a class="nav-link" href="javascript:void(0);" @onclick="DeleteCookieAndRedirect">Sign Out</a>

@code {
    readonly string _url = $"https://login.microsoftonline.com/{Environment.GetEnvironmentVariable("AzureAd__TenantID")}/oauth2/v2.0/logout?post_logout_redirect_uri={Uri.EscapeDataString("https://sap-app-e2hbhkhuabe3hjd8.westus-01.azurewebsites.net/")}";

    private async Task DeleteCookieAndRedirect()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            await HttpContextAccessor.HttpContext.SignOutAsync();
        }
        NavigationManager.NavigateTo(_url, forceLoad: true);
    }
}