@inject NavigationManager Navigation
@page "/logout"

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>
            <form action="/MicrosoftIdentity/Account/SignOut" method="post">
                <input type="hidden" name="returnUrl" value="/" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="/MicrosoftIdentity/Account/SignIn">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>