@page "/logout"

<a class="nav-link" href="@_url">Sign Out</a>

@code {

    readonly string _url = $"https://login.microsoftonline.com/{Environment.GetEnvironmentVariable("AzureAd__TenantID")}/oauth2/v2.0/logout?post_logout_redirect_uri={@Uri.EscapeDataString("https://sap-app-e2hbhkhuabe3hjd8.westus-01.azurewebsites.net/")}";

}