@inject NavigationManager Navigation
@page "/logout"

<AuthorizeView>
    <Authorized>
        <form method="post" action="@_url">
            <AntiforgeryToken />
            <input type="hidden" name="returnUrl" value="@Navigation.BaseUri" />
            <button type="submit" class="nav-link">
                <span class="bi bi-arrow-bar-left-nav-menu"></span> Logout
            </button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="/MicrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    readonly string _url = $"https://login.microsoftonline.com/{Environment.GetEnvironmentVariable("AzureAD__TenantID")}/oauth2/v2.0/logout?post_logout_redirect_uri=https%3A%2F%2Fsap-app-e2hbhkhuabe3hjd8.westus-01.azurewebsites.net";

}