@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@page "/logout"

@code {
    async Task LogoutAction()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo(_url, true);
    }
} 

<a class="nav-link" href="#" @onclick="LogoutAction">Sign Out</a>

@code {

    readonly string _url = $"https://login.microsoftonline.com/{Environment.GetEnvironmentVariable("AzureAd__TenantID")}/oauth2/v2.0/logout?post_logout_redirect_uri={@Uri.EscapeDataString("https://sap-app-e2hbhkhuabe3hjd8.westus-01.azurewebsites.net/")}";

}