@inject NavigationManager Navigation
@page "/logout"

<a class="nav-link" href="/MicrosoftIdentity/Account/SignOut?post_logout_redirect_uri=@Uri.EscapeDataString(Navigation.BaseUri)">
    <span class="bi bi-arrow-bar-left-nav-menu"></span> Logout
</a>