@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@page "/logout"

<button @onclick="TestClick">Log Out</button>

@code {
    private void TestClick()
    {
        Console.WriteLine("Logout button clicked!"); // Should appear in console
    }
}