@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@page "/logout"

<button @onclick="BeginSignOut">Log Out</button>

@code {
    private void BeginSignOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}