@inject NavigationManager Navigation
@inject IJSRuntime JS
@page "/logout"

<button @onclick="LogoutAction">Logout</button>

@code {
    async Task LogoutAction()
    {
        await JS.InvokeVoidAsync("eval", "document.cookie.split(';').forEach((c) => document.cookie = c.replace(/^ +/, '').replace(/=.*/, '=;expires=' + new Date().toUTCString() + ';path=/'));");
        Navigation.NavigateTo("MicrosoftIdentity/Account/SignOut", forceLoad: true);
    }
}