@page "/Page1"

<PageTitle>Page1</PageTitle>

<!DOCTYPE html>

<html>
<head>
    <title>Page1</title>
</head>
<body>

<body>

<h2>Satisfactory Academic Progress Appeal Form</h2>
<p>Saint Martins University Office of Financial Aid has notified you that your Academic progress does not meet the level required to recive student financial aid; However, you have the right to appeal your status. The Office of Financial Aid considers appeals based on a variety of extenuating circumstances (e.g., personal illness or injury, death of an immediate family member, or other unusal circumstances beyond your control).</p>

<div class="container">
  <label for="fname">Student Information</label>
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Student ID#</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="ex:p000123456" placeholder="ex:p000..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
         <label for="fdate">Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="fday" name="date" placeholder="date..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
       <label for="major">Major</label>
      <input type="text" id="ftext" name="major" placeholder="major.."> 
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

</body>
</html>
