@page "/Page3"

<PageTitle>Supporting Documentation</PageTitle>
<div>
    <head>
        Please list any supporting documentation that will be submitted on your behalf:
    </head>
    <p>
        Supporting documentation can be submitted below.

        Medical condition: Submit a letter from your health care provider stating whether you are well enough to return.
        Do NOT send us your medical records.

        Maximum time frame: Submit documentation from your academic advisor confirming your graduation date.
        If you are seeking two majors, documentation must come from BOTH advisors.

        Other: Submit documentation that proves each factor as noted as influencing your academics.
    </p>

    <h2>
        Important Information
    </h2>
    <p>
        DEADLINE - YOUR appeal must be submitted prior to the mid-point of the term.
        If your appeal is not received by mid-semester it will not be reviewed and you are responsible for paying your balance with out-of-pocket funds.

        The Office of Financial Aid may require additional information.
        The Office of Financial Aid Staff will not continue processing your appeal until the requested information has been received.

        Contact the Office of Financial Aid for further assistance at finaid@stmartin.edu
    </p>
</div>