@page "/Page3"

<PageTitle>Page3</PageTitle>

<!DOCTYPE html>

<html>
<head>
    <title>Page3</title>
</head>
<body>
<h1>Supporting Documentation</h1>

<h2>Please list any supporting documentation that will be submitted on your behalf:</h2>
<p>Supporting documentation can be submitted below.</p>

<p>Medical condition: Submit a letter from your health care provider stating whether you are well enough to return.</p>
<p>**Do NOT send us your medical records.**</p>

<p>Maximum time frame: Submit documentation from your academic advisor confirming your graduation date.</p>
<p>If you are seeking two majors, documentation must come from BOTH advisors.</p>

<p>Other: Submit documentation that proves each factor as noted as influencing your academics.</p>

<h1>Important Information</h1>

<p>**DEADLINE** - YOUR appeal must be submitted prior to the mid-point of the term.</p>
<p>If your appeal is not received by mid-semester it will not be reviewed and you are responsible for paying your balance with out-of-pocket funds.</p>

<p>The Office of Financial Aid may require additional information.</p>
<p>The Office of Financial Aid Staff will not continue processing your appeal until the requested information has been received.</p>

<p>Contact the Office of Financial Aid for further assistance at finaid@stmartin.edu</p>
</body>

</html>
<div>

</div>
