@page "/Page1"

<PageTitle>Page1</PageTitle>

<!DOCTYPE html>

<html>
<head>
    <title>Page1</title>
</head>
<body>

<h2>Satisfactory Academic Progress Appeal Form</h2>
<p>Saint Martins University Office of Financial Aid has notified you that your Academic progress does not meet the level required to recive student financial aid; However, you have the right to appeal your status. The Office of Financial Aid considers appeals based on a variety of extenuating circumstances (e.g., personal illness or injury, death of an immediate family member, or other unusal circumstances beyond your control).</p>

<div class="container">
  <label for="fname">Student Information</label>
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Student ID#</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="ex:p000123456" placeholder="ex:p000..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
         <label for="fdate">Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="fday" name="date" placeholder="date..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
       <label for="major">Major</label>
      <input type="text" id="ftext" name="major" placeholder="major.."> 
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
<h3>Requirments - Incomplete appeals will not be reviewed or denied:</h3>
<p>please read an ditital that you have submitted the required form s/documentation with this appeal.</p>


<label for="myCheck">Signed, typed/ written personal statement(no more than 500 words) explaining: </label>
<p> 1. Any extenuating circumstance that cause you to be placed on SAP Must appeal; </p>
<p>2. How the extenuating circumstances that cause you to be placed on SAP Must Appeal;</p>
<p>3. What you have done to overcome the extenuating circumstance(s)</p>
<p>4. What specific steps are yot taking to ensure future success in attaining you academic goals?</p>

<input type="checkbox" id="myCheck" onclick="myFunction()">

<p id="text" style="display:none">Checkbox is CHECKED!</p>

<label for="myCheck">Official documentation supporting your extenuating circumstance(s).:</label> 
<p> the Only acceptable forms of documentation are listed on the back of this form.</p>
<input type="checkbox" id="myCheck" onclick="myFunction()">

<p id="text" style="display:none">Checkbox is CHECKED!</p>

<label for="myCheck">Payment arrangement: I understand the Office of Financial Aid wit NOT hold my classes pending a decision by the SAP committee if i am unable to pay any balance on the account; and</label>
<input type="checkbox" id="myCheck" onclick="myFunction()">
<p id="text" style="display:none">Checkbox is CHECKED!</p>


<label for="myCheck">I understand that the decision of the Office of Financial aid is final.</label> 
<input type="checkbox" id="myCheck" onclick="myFunction()">
<p id="text" style="display:none">Checkbox is CHECKED!</p>

<script>
function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var text = document.getElementById("text");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>
<div class="row">
      <input type="submit" value="Submit">
    </div>

</body>
</html>