@page "/Page2"

<PageTitle>Page2</PageTitle>

<!DOCTYPE html>

<html>
<head>
    <title>Page2</title>
</head>
<body>
<!DOCTYPE html>
<html>
<body>

<h3> Reasons & Supporting documentation (not inclusive) for the SAP appeal </h3>

<h3>1. Personal Illness or injury(physical and mental health)</h3>
<p>a. A Detailed explanation of the medical circumstances including the date</p>
<p>b. Supporting your documentation.</p>
<p>c.supporting documentation regarding what steps you've taken.</p>
</p>
<h2> 2. Illness of a family member </h2>
<p> a. A detailed explanation of the medical circumstaances of the family member</p>
<p>b. Supporting documentaion</P>
<p>c. supporting documentation regarding what steps you've taken</p>
</p>
<h2> Death of a family member/ Roommate/ Close Friend</h2>
<p> a. A detailed statement including the name of the deceased and his/her relationship</p>
<p>b. Supporting Documentation</p>
<p>c. Supporting documentation that demonstrates your ability to return to classes</p>
</p>
<h1> Personal Crisis</h1>
<p> a. A detailed explanation of the crsis including the date of occurrence, duration, and how it negatively affected your coursework</p>
<p>b. Supporting documentaion</p>
<p>c. Supporting documentaion regqrding what steps you've taken to resolve the crisis</p>
</p>
<h1> Other Circumstances beyond your control</h1>
<p> a. Provide documentation of extenuating circumstances that were beyond your control from your personal statment</p>
<p> b. provide documentation supporting that your circumstances have either been resolved of are being managed</p>

<h1> Exceeded maxiumum Hours for Defree Completion</h1>
<p> a. A detailed explantation for the circumstances that result in your exceeding the maximum hours required</p>
<p> b. a prescribed academic plan of work form an academic advisor</p> 

<p><b>Note</b> Appeals submitted for reasons above will be reviewed on a case-by-case basis. Appeals are not automatically approved for any of the above reasons but are reviewed based on circumstances documented academic history, and projection of potential for academic success.</P>


</body>
</html>
<div>
    
</div>
</body>
</html>
